.container
  %h2 Sign up
  = render partial: "shared/flash_messages", flash: flash
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :name, required: true, autofocus: true, label: "Full Name"
      = f.input :email, required: true
      = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable)
      = f.input :password_confirmation, required: true
    .form-actions
      = f.button :submit, "Sign up", class: 'btn btn-success'
  = render "devise/shared/links"
