%table.table.table-bordered
  %thead
    %tr
      %th{:colspan => "2"}
        = "#{@user.name} stats:"
  %tbody
    %tr
      %td
        %strong Restaurants added:
      %td= @user.restaurants_added
    %tr
      %td
        %strong Orders made:
      %td= @user.orders.count
    %tr
      %td
        %strong Last order:
      %td
        = @user.orders.present? ? @user.orders.last.created_at.strftime("%d/%m/%Y at %H:%M") : "-"
    %tr
      %td
        %strong Total spent:
      %td= @user.orders.present? ? number_to_currency(count_total_price(@user.orders), unit: "zł", separator: ",", delimiter: "", format: "%n %u") : number_to_currency((0), unit: "zł", separator: ",", delimiter: "", format: "%n %u")
