.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#tab1"}
        = fa_icon "star", text: "Rates"
    %li
      %a{"data-toggle" => "tab", href: "#tab2"}
        = fa_icon "cutlery", text: "Orders"
    %li
      %a{"data-toggle" => "tab", href: "#tab3"}
        = fa_icon "rss", text: "Public Activity"
  .tab-content
    #tab1.tab-pane.active.activity
      %ul
        - if @rates.empty?
          There are no rates yet!
        - else
          - @rates.to_enum.with_index(1).each do |rate, index|
            %li
              \#
              = index
              %br
              %strong Rate:
              - for i in 1..rate.score.to_i
                = fa_icon("star")
              %br
              - if rate.product
                %strong Product:
                = rate.product.try(:name)
              - else
                %strong Resturant:
                = rate.restaurant.try(:name)
    #tab2.tab-pane.activity
      %ul
        - if @orders.empty?
          There are no orders yet!
        - else
          - @orders.to_enum.with_index(1).each do |order, index|
            %li
              \#
              = index
              %br
              %strong Restaurant:
              = order.restaurant.try(:name)
              %br
              %strong Products:
              = show_products(order)
              %br
              %strong Payed:
              = number_to_currency(count_price(order), unit: "zł", separator: ",", delimiter: "", format: "%n %u")
    #tab3.tab-pane.activity
      %ul
        - if @activities.empty?
          There are not activities yet!
        - else
          - @activities.each do |activity|
            %li= render_activity activity
