.container
  .row-fluid
    .span10-offset1
      .hero-unit.text-center
        %h1
          = link_to 'Orders', orders_path, class: 'main_header'
        %p Welcome to the order app!
        - if user_signed_in?
          - if current_user.orders.where("created_at >= ?", Time.zone.now.beginning_of_day).length >= 1
            = button_to 'You ordered today! Please edit or delete your order if you want to add a new one!', new_order_path, method: :get, class: 'btn btn-primary', remote: true, disabled: true
          - else
            = button_to 'Add an order', new_order_path, method: :get, class: 'btn btn-primary', remote: true
          = link_to 'Your orders history', orders_history_path, class: 'btn btn-primary'
          = link_to 'Restaurants', restaurants_path, class: 'btn btn-primary'
          .row
          %br
            = render 'shared/avatar'
          %br
          = link_to 'Sign out', destroy_user_session_path, class: 'btn btn-success', method: :delete
        - else
          = link_to 'Log in via facebook', '/auth/facebook', class: 'btn btn-large btn-primary'
