.container
  .row-fluid
    .span10-offset1
      .hero-unit.text-center
        - if user_signed_in?
          %h1= "Welcome #{current_user.name}!"
          %br
          = image_tag(avatar_url(current_user), size: "100x100", class: 'border-photo')
          - if current_user.orders.where("created_at >= ?", Time.zone.now.beginning_of_day).length >= 1
            %br
            %br
            = button_to 'You ordered today! Please edit or delete your order if you want to add a new one!', new_order_path, method: :get, class: 'btn btn-primary', remote: true, disabled: true
          - else
            %h4
              %br
              Are you hungry :-) ?
            = button_to 'Add an order', new_order_path, method: :get, class: 'btn btn-primary', remote: true
        - else
          %h1 Order App
          %h4
            Welcome in the main page!
            %br
            Please login if you want to add new order.

