.navbar.navbar-inverse
  .navbar-inner
    .container{:style => "width: auto;"}
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .brand OrderApp
      .nav-collapse
        %ul.nav
          = link_to_active_li "Home", root_path
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Orders
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to 'Today orders', today_orders_path
                %li
                  = link_to 'Order stats', orders_stats_path
                %li.divider
                %li
                  = link_to 'Your orders history', orders_history_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Restaurants
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'Restaurants list', restaurants_path
              %li
                = link_to 'Order stats', orders_stats_path
              %li.divider
              %li
                = link_to 'Your orders history', orders_history_path
          = form_tag search_path, :method => 'get', :class => "navbar-search pull-left" do
            = text_field_tag :query, nil, class: "search-query span2", placeholder: 'Search'
            = link_to_submit fa_icon("search")
        - if user_signed_in?
          %ul.nav.pull-right
            %li
              .row.login-info
                = link_to image_tag(avatar_url(current_user), size: "20x20", class: 'border-photo'), "#"
                = link_to "Logged as #{current_user.name}", "#"
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Profile
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "Your profile", user_profile_path
                %li
                  = link_to "Edit profile", edit_user_registration_path
                %li.divider
                %li
                  = link_to 'Sign out', destroy_user_session_path, method: :delete
        - else
          %ul.nav.pull-right
            = link_to_active_li "Login", new_user_session_path
            = link_to_active_li "Sign up", new_user_registration_path
            %li
              %a{:href => "/auth/facebook"}
                %span.label.label-info.label-facebook
                  %i.fa.fa-facebook
                  | Login with Facebook


