.modal-header
  %h1
    = order.new_record? ? "New order" : "Edit #{order.short_info}"
= simple_form_for order, class: 'clearfix', remote: true do |f|
  .modal-body
    = f.fields_for :products do |builder|
      = render 'product_fields', f: builder
    = link_to_add_products "+ Add Product", f, :products, "add_products badge badge-success"
    %br
    %br
    = f.input :short_info, input_html: { class: 'form-control' }, label: 'Details'
    = f.input :restaurant_id, input_html: { class: 'form-control' }, label: 'Restaurant', collection: @restaurants
  .modal-footer
    = f.submit 'Confirm', class: 'btn btn-info'

