- if orders.empty?
  %span.text-warning Nie ma jeszcze zadnych zamowien!
- else
  %table.table.table-hover.table-border
    %thead
      %tr
        %th.span3 Zamowienie
        %th.span2 Kto zamawial
        %th.span2 Restauracja
        %th.span1 Do zaplaty
        - if user_signed_in?
          %th.span1
    %tbody
      - orders.each do |order|
        %tr
          %td.span3= order.short_info
          %td.span2= order.user.name
          %td.span2= order.restaurant
          %td.span1= number_to_currency(order.price, unit: "zl", separator: ",", delimiter: "", format: "%n %u")
          - if user_signed_in?
            %td.span1
              = link_to order_path(order), remote: true do
                %i.icon-eye-open
              - if order.user_id == current_user.id
                = link_to edit_order_path(order), remote: true do
                  %i.icon-edit
                = link_to order_path(order), remote: true, method: :delete, data: { confirm: "Na pewno chcesz usunąć #{order.short_info}?"} do
                  %i.icon-remove
  %p
    .sum= number_to_currency(@sum, unit: "zl", separator: ",", delimiter: "", format: "%n %u")
    .all Razem do zaplaty: &nbsp
