- if orders.empty?
  %span.text-warning There are no orders!
- else
  %table.table.table-hover.table-border
    %thead
      %tr
        %th.span3 Order
        %th.span2 Who ordered
        %th.span2 Restaurant
        %th.span1 To pay
        - if user_signed_in?
          %th.span1
    %tbody
      - orders.each do |order|
        %tr
          %td.span3
            = show_products(order)
            - if user_signed_in?
              - if order.user_id == current_user.id
                %span.label.label-success Your order
          %td.span2= order.user.name
          - if order.restaurant
            %td.span2= order.restaurant.name
          - else
            %td.span2
              %span.error Restaurant which has been deleted!
          %td.span1= number_to_currency(count_price(order), unit: "zl", separator: ",", delimiter: "", format: "%n %u")
          - if user_signed_in?
            %td.span1
              = link_to order_path(order), remote: true do
                %i.icon-eye-open
              - if order.user_id == current_user.id
                = link_to edit_order_path(order), remote: true do
                  %i.icon-edit
                = link_to order_path(order), remote: true, method: :delete, data: { confirm: "Are you sure to delete #{order.short_info}?"} do
                  %i.icon-remove
  %p
    .sum= number_to_currency(count_total_price(@today_orders), unit: "zl", separator: ",", delimiter: "", format: "%n %u")
    .all To pay: &nbsp
    %br
    %br
