#products
  .container
    - if @user_orders_paginate.empty?
      %span.text-warning There are no orders!
    - else
      %h2.text-center Your last orders
      %br
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th.span3 Order
            %th.span3 Restaurant
            %th.span2 To pay
            %th.span2 Date
        %tbody
          - @user_orders_paginate.each do |order|
            %tr
              %td.span3= show_products(order)
              - if order.restaurant
                %td.span3= order.restaurant.name
              - else
                %td.span3
                  %span.error Restaurant which has been deleted!
              %td.span2= number_to_currency(count_price(order), unit: "zł", separator: ",", delimiter: "", format: "%n %u")
              %td.span2= order.created_at.strftime("%d/%m/%Y at %T")
      .row
        %h4.text-right.price-total= "<span class='total'>Total you spent: </span>".html_safe + number_to_currency(count_total_price(@user_orders), unit: "zł", separator: ",", delimiter: "", format: "%n %u")
      .row
        .text-center.pagination
          = will_paginate @user_orders_paginate, renderer: BootstrapPagination::Rails, previous_label: "← Newer", next_label: "Older →"
