.modal-header
  %h1
    Order #
    = order.id
.modal-body
  %p
    %span.bold Who ordered:
    = order.user.name
  %p
    %span.bold Restaurant:
    = order.restaurant.name
  %p
    %h4 Products:
    - order.products.each do |product|
      \-
      %span.bold= product.name
      \-
      %span.error= number_to_currency(product.price, unit: "zl", separator: ",", delimiter: "", format: "%n %u")
      %br
.modal-footer
  %h3
    Total to pay:
    %span.error= number_to_currency(count_price(order), unit: "zl", separator: ",", delimiter: "", format: "%n %u")

