= render partial: 'orders/header'
.container
  - if current_user.orders.empty?
    %span.text-warning Nie masz jeszcze zadnych zamowien!
  - else
    %table.table.table-hover.table-border
      %thead
        %tr
          %th.span3 Zamowienie
          %th.span3 Restauracja
          %th.span3 Do zaplaty
      %tbody
        - current_user.orders.each do |order|
          %tr
            %td.span3= order.short_info
            %td.span3= order.restaurant
            %td.span3= number_to_currency(order.price, unit: "zl", separator: ",", delimiter: "", format: "%n %u")
    %p
      .sum= number_to_currency(@sum, unit: "zl", separator: ",", delimiter: "", format: "%n %u")
      .all Razem wydales: &nbsp
