.container
  .row-fluid
    .span10-offset1
      .hero-unit.text-center
        %h1 Orders
        %p Welcome to the zamawiarka app!
        - if user_signed_in?
          = button_to 'Dodaj zamowienie', new_order_path, method: :get, class: 'btn btn-primary', remote: true
          = link_to 'Wyloguj sie', destroy_user_session_path, class: 'btn btn-success', method: :delete
        - else
          = link_to 'Zaloguj sie', new_user_session_path, class: 'btn btn-success'
          = link_to 'Zarejestruj sie', new_user_registration_path, class: 'btn btn-success'
      = render partial: "shared/flash_messages", flash: flash
      - if @orders.empty?
        %span.text-warning Nie ma jeszcze zadnych zamowien
      - else
        %table.table.table-hover.table-border
          %thead
            %tr
              %th Zamowienie
              %th Kto zamawial
              %th Restauracja
              %th Do zaplaty
              %th
          %tbody
            - @orders.each do |order|
              %tr
                %td= order.short_info
                %td= order.user.email
                %td= order.restaurant
                %td= number_to_currency(order.price, unit: "zl", separator: ",", delimiter: "", format: "%n %u")
                %td
        %p.sum= number_to_currency(@sum, unit: "zl", separator: ",", delimiter: "", format: "%n %u")
#modal.modal.fade
