.container
  .row-fluid
    .span10-offset1
      .hero-unit.text-center
        %h1 Orders
        %p Welcome to the zamawiarka app!
        - if user_signed_in?
          = button_to 'Dodaj zamowienie', new_order_path, method: :get, class: 'btn btn-primary', remote: true
          = link_to 'Wyloguj sie', destroy_user_session_path, class: 'btn btn-success', method: :delete
        - else
          = link_to 'Zaloguj sie', new_user_session_path, class: 'btn btn-success'
          = link_to 'Zarejestruj sie', new_user_registration_path, class: 'btn btn-success'
      = render partial: 'shared/flash_messages', flash: flash
      #order-list.container
        = render partial: 'orders/order_list', locals: { orders: @orders }
      #modal.modal.fade
