#header-main
  - if user_signed_in?
    = render partial: 'header'
#flash-messages
  = render partial: 'shared/flash_messages', flash: flash
#order-list
  - if user_signed_in?
    = render partial: 'order_list', locals: { orders: @orders }
  - else
    = render partial: 'welcome_page'
#buttons.container
  = render partial: 'shared/buttons'
#modal.modal.fade
