%span.timeprint
  = timeago_tag activity.created_at, :nojs => false, :limit => 3000.days.ago
%br
= fa_icon "refresh"
= activity.owner.name
%strong updated order containing
- if activity.trackable
  = link_to "#{show_products(activity.trackable)}." , activity.trackable
- else
  something which has been destroyed.
