- if restaurants.empty?
  %span.text-warning There are no restaurants!
- else
  %table.table.table-hover.table-border
    %thead
      %tr
        %th.span3 Name
        %th.span4 Short Info
        %th.span3 Type
        - if user_signed_in?
          %th.span2
    %tbody
      - restaurants.each do |restaurant|
        %tr
          %td.span3
            = restaurant.name
            - if user_signed_in?
              - if restaurant.user_id == current_user.id
                %span.label.label-success You added this one
          %td.span4= restaurant.short_info
          %td.span3= restaurant.restaurant_type
          - if user_signed_in?
            %td.span2
              = link_to restaurant_path(restaurant), remote: true do
                %i.icon-eye-open
              - if restaurant.user_id == current_user.id
                = link_to edit_restaurant_path(restaurant), remote: true do
                  %i.icon-edit
                = link_to restaurant_path(restaurant), remote: true, method: :delete, data: { confirm: "Na pewno chcesz usunąć #{restaurant.short_info}?"} do
                  %i.icon-remove
