.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  %h1
    = restaurant.try(:name)
.modal-body
  %p
    %span.bold Who added:
    = restaurant.creator
  %p
    %span.bold Short info:
    = restaurant.try(:short_info)
  %p
    %span.bold Type:
    = restaurant.try(:restaurant_type)
  %p
    %span.bold Average Rate:
    = restaurant.average_rate
  %p
    %span.bold Address:
    = restaurant.try(:address)
    %br
    %br
    - if restaurant.longitude
      %iframe{:frameborder => "0", :height => "500", :src => @restaurant_map_params, :style => "zoom:0.90", :width => "99.6%"}
.modal-footer
  %a.btn{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Close

