#products-list
  .container
    - if @products_to_rate.empty?
      .row
        .span6.offset3
          .alert.alert-info.text-center
            %button.close{"data-dismiss" => "alert", :type => "button"} &times;
            %strong Opsss...
            There are no available products to rate for now!
    - else
      %h1.text-center.header-padding Products to rate
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th.span2 Name
            %th.span3 Price
            %th.span2 Restaurant
            %th.span1 Average Rate
            - if user_signed_in?
              %th.span1 Add Rate
        %tbody
          - @products_to_rate.each do |product|
            %tr
              %td.span2= product.try(:name)
              %td.span3= number_to_currency(product.try(:price), unit: "zł", separator: ",", delimiter: "", format: "%n %u")
              %td.span2= product.try(:restaurant).try(:name)
              %td.span1= product.user_rate
              - if user_signed_in?
                %td.span1
                  = link_to new_product_rate_path(product), remote: true do
                    = fa_icon "thumbs-up"
    - if @products_rated.present?
      %h1.text-center.header-padding Products rated by you
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th.span2 Name
            %th.span2 Price
            %th.span2 Restaurant
            %th.span1 Average Rate
            %th.span1 Your Rate
            - if user_signed_in?
              %th.span1 Edit Rate
        %tbody
          - @products_rated.each do |product|
            %tr
              %td.span2= product.try(:name)
              %td.span2= number_to_currency(product.try(:price), unit: "zł", separator: ",", delimiter: "", format: "%n %u")
              %td.span2= product.restaurant.name if product.restaurant
              %td.span1= product.average_rate
              %td.span1= product.user_rate
              - if user_signed_in?
                %td.span1
                  = link_to edit_rate_path(find_rate(product)), remote: true do
                    = fa_icon "edit"

