#products-list
  .container
    - if @products_to_rate.empty?
      %p.text-center
        %span.text-warning There are no products available to rate!
    - else
      %h1.text-center.header-padding Products to rate
      %table.table.table-bordered.table-striped.table-hover
        %thead
          %tr
            %th.span2 Name
            %th.span3 Price
            %th.span2 Restaurant
            %th.span1 Average Rate
            - if user_signed_in?
              %th.span1 Add Rate
        %tbody
          - @products_to_rate.each do |product|
            %tr
              %td.span2= product.name
              %td.span3= product.price
              %td.span2= product.restaurant.name if product.restaurant
              %td.span1
                - if rate(product).nil?
                  Not rated yet
                - else
                  = rate(product)
              - if user_signed_in?
                %td.span1
                  = link_to new_product_rate_path(product), remote: true do
                    = fa_icon "thumbs-up"
    - if @products_rated.present?
      %h1.text-center.header-padding Products rated by you
      %table.table.table-bordered.table-striped.table-hover
        %thead
          %tr
            %th.span2 Name
            %th.span2 Price
            %th.span2 Restaurant
            %th.span1 Average Rate
            %th.span1 Your Rate
            - if user_signed_in?
              %th.span1 Edit Rate
        %tbody
          - @products_rated.each do |product|
            %tr
              %td.span2= product.name
              %td.span2= product.price
              %td.span2= product.restaurant.name if product.restaurant
              %td.span1
                - for i in 1..rate(product).to_i
                  = fa_icon("star")
              %td.span1
                - for i in 1..user_rate(product).to_i
                  = fa_icon("star")
              - if user_signed_in?
                %td.span1
                  = link_to '#', remote: true do
                    = fa_icon "thumbs-up"

